body {
  font: 12pt "Myriad Pro";
}

table#forums, .topics {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; 
  border: 2px solid #6E167B;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
  th {
    background: #6E167B;
    color: white;
    text-align: left;
  }
  th, td {
    padding: 10px;
  }
  
  .last_post {
    font-size: 80%;
  }
}


#posts {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; 
  border: 2px solid #6E167B;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
  
  .odd {
    .contents {
      background: #dcdcdc;
    }
    
    .user {
      background: #69008C;
    }
  }
  
  .even {
    .contents {
      background: white;
      border-top: 1px solid #AAAAAA;
    }
    
    .user {
      border-top: 2px solid #AA00E3;
      background: #8100AD;
    }
  }

  .post {
    .user {
      color: white;
      font-weight: bold;
      padding: 10px;
      vertical-align: top;
      width: 15%;
      border-right: 2px solid #3B005C;
    }

    .contents {
      padding: 10px;
    }
    
    time {
      font-size: 80%;
    }
    
    .actions {
      list-style-type: none;
      margin-left: 0px;
    }
  }
}